<!DOCTYPE html>
<html lang="en">
  <head>
	<title>{{ .Title }}</title>
	<link rel="stylesheet" href="/public/style.css">

    <!-- FIXME: Should not load on index page -->
    <script src="/public/sockjs.min.js"></script>
    <script src="/public/subscriptions.js"></script>
  </head>
  <body>
	<div class="page">
	  <div class="header">
		<h1 class="header-heading">{{ .Title }}</h1>
	  </div>
	  <div class="content">
