{{ template "header.tmpl" . }}

<h2>Home Page</h2>

<p>Counter: <span id="{{ .CounterSpan }}">0</span></p>

<script>

streamID = "{{ .StreamID }}";
session = new stRestSession("/socket/", streamID);
counter = session.substream("/samplerest",
    function(event) { document.getElementById("{{ .CounterSpan }}").innerHTML = event; },
    function(response) { console.log("Success!"); console.log(response); },
    )
counter.open({});

</script>

<button onclick="counter.send(5)">+5</button> <button onclick="counter.send(-5)">-5</button>

{{ template "footer.tmpl" . }}