{{ template "header.tmpl" . }}

<h2>Home Page</h2>

<p>Counter: <span id="{{ .CounterSpan }}">unstarted</span></p>

<script>

streamID = "{{ .StreamID }}";
session = new stRestSession("/socket/", streamID);
counter = session.substream("/samplerest",
    function(event) { console.log("Event: " + event) },
    function(response) { console.log("Success!"); console.log(response); },
    )
counter.open({});

</script>

{{ template "footer.tmpl" . }}