body {
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #eee;
	font: Georgia, serif;
}

.page {
	max-width: 45em;
	background-color: #f6f6f6;
	margin: 0 auto;
}

h1,h2,h3 {
	margin: 0 0 .5em;
	font-weight: 500;
}

h1 { font-size: 2em; }
h2 {
    font-size: 1.5em;
    border-bottom: 2px solid #eee;
}
h3 {
    font-size: 1.375em;
    border-bottom: 1px solid #eee;
}

p { line-height: 1.6; }

blockquote {
	padding: 1em 2em;
    color: #555;
    margin: 0 0 1em 0;
    border-left: 5px solid #eee;
    line-height: 1.4;
    font: Helvetica;
}

.header {
	color: #fff;
	background: #999;
}

.footer {
	color: #fff;
	background: #666;
    font-size: 75%;
}

.header-heading { margin: 0; }

.content, .header, .footer { padding: 15px 25px; }

img  { max-width: 100%; }

input {
    background: #f6f6f6;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid black;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td.login_label {
    text-align: right;
}

.button {
  border-radius: 28px;
  color: #333;
  background: #ccc;
  padding: .5em 1em .5em 1em;
  margin: .5em 0 .5em 0;
  text-align: center;
}

.button:hover {
  background: #666;
}